<!DOCTYPE html>
<html>
<head>
    <title>Tenant Management</title>
</head>
<body >
<div id="form" >

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.3/pdfobject.min.js" integrity="sha512-bHO4iqeyo1tN+C4qnbroCQ5Hxi3aJcEszT0iOt2nkuXZXQf369U3PUsnoN/ebnKQ5V2iS326OIv9pgXxL+F/kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

	let height = window.innerHeight;
	var y=document.getElementById('form');
	y.setAttribute("style","height:"+height+"px");


 var filetype = JSON.parse(localStorage.getItem("filetype"));
 var id = JSON.parse(localStorage.getItem("tenantId"));
if(filetype=="appl"){
 var file = JSON.parse(localStorage.getItem("application_letter"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="cr14"){
 var file = JSON.parse(localStorage.getItem("cr14_form"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="cr6"){
 var file = JSON.parse(localStorage.getItem("cr6_form"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="bank"){
 var file = JSON.parse(localStorage.getItem("bank_statement"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="article"){
 var file = JSON.parse(localStorage.getItem("article"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="director"){
 var file = JSON.parse(localStorage.getItem("director_id"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="vat"){
 var file = JSON.parse(localStorage.getItem("vat_reg"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="tax"){
 var file = JSON.parse(localStorage.getItem("tax_clearance"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
if(filetype=="cert"){
 var file = JSON.parse(localStorage.getItem("certificate_of_incorporation"));

  //var filename2=file.split("'")[1];
	  console.log("file :",file);

	if(PDFObject.supportsPDFs){
		PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
	}else{
		window.alert("This Browser Doest support  PDF of this format");
	}
}
    if(filetype=="comp"){
        var file = JSON.parse(localStorage.getItem("company_profile"));

        //var filename2=file.split("'")[1];
        console.log("file :",file);

        if(PDFObject.supportsPDFs){
            PDFObject.embed("/uploads/TenantDocuments/Tenant"+id+"/"+file,"#form");
        }else{
            window.alert("This Browser Doest support  PDF of this format");
        }
    }

</script>
<script type='text/javascript'>

    (function()
    {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();

</script>
</body>
</html>