<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/logo/sysIco(2).ico">
    <title>Tenant Management System</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="css/select2.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme" disabled>
  </head>

  <body class="vertical  light" onload="loadfile(),setAddTenantDropDown(),getAll(),getImageProfile()">

    <div class="wrapper">
      <nav class="topnav navbar navbar-light" >
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search"
                 placeholder="Type something..." aria-label="Search">
        </form>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="tiny_dash/light#" data-toggle="modal"
               data-target=".modal-shortcut">
              <span class="fe fe-grid fe-16"></span>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="tiny_dash/light#" data-toggle="modal"
               data-target=".modal-notif">
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-success"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                <img  id="profileImage" src="https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png" alt="" class="avatar-img rounded-circle" height="32px!important" width="32px!important">

              </span><br>
              <span id="Uname" th:text="${#authentication.getPrincipal().getUsername()}"></span>

              <b class="caret"></b>
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <!--th:href="@{'/hr/employeeStatus/'+${employeeStatus.id}}"-->
              <!--                    <a class="dropdown-item" id="profileName" th:href="@{'/edit/'+${#authentication.getPrincipal().getUsername()}}">Profile</a>-->
              <a class="dropdown-item" id="profileName" th:href="@{/editProfile}" onclick="setName()">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Activities</a>
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" th:href="@{/index}">
              <img  src="assets/logo/joina-logo.jpg"  alt="joina-logo" style="margin-left:-40px">
            </a>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-home fe-16"></i>
                <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                <li class="nav-item active">
                  <a class="nav-link pl-3" th:href="@{/index}"><span class="ml-1 item-text">Default</span></a>
                </li>
              </ul>
            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Components</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#ui-elements" data-toggle="collapse" aria-expanded="false"
                 class="dropdown-toggle nav-link">
                <i class="fe fe-box fe-16"></i>
                <span class="ml-3 item-text">Property Portfolios</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/propertyList}"><span
                          class="ml-1 item-text">Portfolio List</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/addProperty}"><span
                          class="ml-1 item-text">Add Portfolio</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/addCompartment}"><span
                          class="ml-1 item-text">Add Lettable space</span></a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-credit-card fe-16"></i>
                <span class="ml-3 item-text">Tenants</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/tenantList}"><span
                          class="ml-1 item-text">Tenant List</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/addTenant}"><span
                          class="ml-1 item-text">Add Tenant</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/assignProperty}"><span
                          class="ml-1 item-text">Assign Property</span></a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-grid fe-16"></i>
                <span class="ml-3 item-text">Leasing</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/View-Lease}"><span
                          class="ml-1 item-text">View Leases</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/AddLease}"><span
                          class="ml-1 item-text">Add Lease</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/Terminate-Lease}"><span
                          class="ml-1 item-text">Terminate </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3"  th:href="@{/View-Renewed}"><span
                          class="ml-1 item-text">Renewed Leases </span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/Lease-Notices}"><span
                          class="ml-1 item-text">Lease Notices </span></a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-pie-chart fe-16"></i>
                <span class="ml-3 item-text">Documents</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="charts">
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/addTenantDocuments}"><span class="ml-1 item-text">Add Tenant Documents</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/tenantDocuments}"><span
                          class="ml-1 item-text">Tenant Documents</span></a>
                </li>

              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#maintenance" data-toggle="collapse" aria-expanded="false"
                 class="dropdown-toggle nav-link">
                <i class="fe fe-pie-chart fe-16"></i>
                <span class="ml-3 item-text">Maintenance</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="maintenance">
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/request}"><span
                          class="ml-1 item-text">Requests</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/schedule}"><span
                          class="ml-1 item-text">Schedule</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/overdueRequest}"><span
                          class="ml-1 item-text">Overdue</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/pending}"><span
                          class="ml-1 item-text">Pending</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" th:href="@{/attended}"><span class="ml-1 item-text">Attended</span></a>
                </li>
              </ul>
            </li>
          </ul>


          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Finance</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">

            <li class="nav-item dropdown">
              <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-book fe-16"></i>
                <span class="ml-3 item-text">Accounts</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="contact">
                <a class="nav-link pl-3" th:href="@{/Payments}"><span class="ml-1">Payments</span></a>
                <a class="nav-link pl-3" th:href="@{/Invoicing}"><span class="ml-1">Invoicing</span></a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#contact1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-book fe-16"></i>
                <span class="ml-3 item-text">Services</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="contact1">
                <a class="nav-link pl-3" th:href="@{/ServiceList}"><span class="ml-1">Service List</span></a>
                <a class="nav-link pl-3" th:href="@{/AddService}"><span class="ml-1">Add Services</span></a>
              </ul>
            </li>

          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Other</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#apllicants" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-book fe-16"></i>
                <span class="ml-3 item-text">Tenant Applications</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="apllicants">
                <a class="nav-link pl-3" href="#"><span class="ml-1">Application List</span></a>
                <a class="nav-link pl-3" href="#"><span class="ml-1">Waiting List</span></a>
                <a class="nav-link pl-3" href="#"><span class="ml-1">Rejected Application</span></a>
              </ul>
            </li>
          </ul>

        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="row align-items-center my-3">
                <div class="col">
                  <h2 class="page-title">Files</h2>
                </div>
                <div class="">
                  <a class="dropdown-item" data-toggle="modal" data-target="#varyModal" data-whatever="@mdo" href="#" >
                  <button type="button" class="btn btn-primary"><span class="fe fe-plus fe-16 mr-3"></span>New Documents</button>
                  </a>
                </div>
              </div>
                  <hr class="my-4">
                  <h6 class="mb-3">Business Files</h6>
                  <div class="row my-4 pb-4">
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Application Letter</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('appl')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>


                        </div> <!-- .card-footer -->
                       </a>
                      </div> <!-- .card -->

                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>CR14 Form</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('cr14')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>CR6 Form</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('cr6')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Certificate Of Incorporation</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('cert')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-image fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Director's ID</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('director')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Bank Statement</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('bank')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Vat Registration Certificate</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          <a onclick="setType('vat')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>


                        </div> <!-- .card-footer -->
                      </div> <!-- .card -->
                    </div> <!-- .col -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Tax Clearance Certificate</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          </button><a onclick="setType('tax')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>



                  
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </div> <!-- .col -->
              <div class="col-md-3">
                <div class="card shadow text-center mb-4">
                  <div class="card-body file">
                    <div class="file-action">
                      <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted sr-only">Action</span>
                      </button>
                      <div class="dropdown-menu m-2">
                        <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                        <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                        <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                        <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                        <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                        <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                      </div>
                    </div>
                    <div class="circle circle-lg bg-light my-4">
                      <span class="fe fe-file fe-24 text-primary"></span>
                    </div>
                    <div class="file-info">
                      <strong>Article of Association</strong>
                    </div>
                  </div> <!-- .card-body -->
                  <div class="card-footer bg-transparent border-0 fname">
                    </button><a onclick="setType('article')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>


                  </div> <!-- .card-footer -->
                  </div> <!-- .row -->
                </div> <!-- .file-panel -->
                    <div class="col-md-3">
                      <div class="card shadow text-center mb-4">
                        <div class="card-body file">
                          <div class="file-action">
                            <button type="button" class="btn btn-link dropdown-toggle more-vertical p-0 text-muted mx-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="text-muted sr-only">Action</span>
                            </button>
                            <div class="dropdown-menu m-2">
                              <a class="dropdown-item" href="#"><i class="fe fe-chevrons-right fe-12 mr-4"></i>Move</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-copy fe-12 mr-4"></i>Copy</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit-3 fe-12 mr-4"></i>Rename</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-delete fe-12 mr-4"></i>Delete</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-share fe-12 mr-4"></i>Share</a>
                              <a class="dropdown-item" href="#"><i class="fe fe-download fe-12 mr-4"></i>Download</a>
                            </div>
                          </div>
                          <div class="circle circle-lg bg-light my-4">
                            <span class="fe fe-file fe-24 text-primary"></span>
                          </div>
                          <div class="file-info">
                            <strong>Company Profile</strong>
                          </div>
                        </div> <!-- .card-body -->
                        <div class="card-footer bg-transparent border-0 fname">
                          </button><a onclick="setType('comp')" th:href="@{/viewFile}"  target="_blank"  > <button class="btn btn-primary" style="margin-top: 8px" >Open File</button></a>


                        </div> <!-- .card-footer -->
                      </div> <!-- .row -->
                    </div> <!-- .file-panel -->

                  </div>
            </div>
          </div>
        </div>


        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">Other Documents</h2>

              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">

                      <!-- table -->
                      <table class="table table-hover  dataTables table-borderless border-v" id="other_table" style="width:100%!important;">
                        <thead class="thead-dark">
                        <tr>
                          <th>Document No</th>
                          <th><span class="fe fe-user"></span>Document Name</th>
                          <th>View Documents</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <!--<tbody id="t_body">
                        </tbody>-->
                      </table>

                      <div class="container-fluid d-none" id="view_Tenant">

                      </div>
                      </td>
                      </tbody>
                      </tr>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->





















        <!--- modal-->
        <div class="modal fade" id="varyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true" width="800">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="varyModalLabel">Other Form</h5>
                <a href="tenant_documents.html">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                </a>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row ">
                    <div class="col-12">
                      <h2 class="page-title">Fill The Information</h2>
                      <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" id="other_doc">
                          <div class="form-group">
                            <label for="tenant_list">Business Name :</label>
                            <select class="form-control select2" id="tenant_list" onchange="onSetTenants()"
                                    required>
                              <optgroup id="Available Tenants" label="Available Tenants" >
                                <option value="">Select Business Name</option>
                              </optgroup>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="document_name">Document Name </label>
                            <input type="text" class="form-control" id="document_name">
                          </div>
                          <div class="form-group">
                            <label for="file">Document</label>
                            <input type="file" id="file" class="form-control-file"
                                   name="file" accept=".pdf" required>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                    <!--                            <a href="request.html" >-->
                    <!--                                <button id="0" style="display: none" type="button" data-dismiss="modal" class="btn mb-2 btn-success">OK</button>-->
                    <!--                            </a>-->
                    <a th:href="@{/view_tenantDocuments}">
                      <button type="button" id="0" style="display: none" data-bs-dismiss="modal"
                              class="btn mb-2 btn-outline-primary" aria-label="Close" >
                        <span class="fe fe-upload-cloud fe-16">OK</span>
                      </button>
                    </a>
                    <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal" id="1" onclick="loadOtherFile()">Close
                    </button>
                    <button class="btn mb-2 btn-outline-primary" type="submit" onclick="saveOtherDetails()"
                            data-bs-toggle="modal"
                            data-bs-target="#successModalu" id="btnSubmit">
                      <span class="fe fe-upload-cloud fe-16">
                      Save
                      </span>

                    </button>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                   aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Operation Successful</h5>

                    </div>
                    <div class="modal-body">
                      <h4>Documents Uploaded SuccessFully</h4>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"  style="margin-left: 40%;" onclick="getAll()">
                        <span aria-hidden="true" >OK</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                      <!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main> <!-- main -->
    </div> <!-- .wrapper -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/register.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/downloadfile.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src='js/select2.min.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script>
      $('.select2').select2(
              {
                theme: 'bootstrap4',
              });
      $('.select2-multi').select2(
              {
                multiple: true,
                theme: 'bootstrap4',
              });
      $('.drgpicker').daterangepicker(
              {
                singleDatePicker: true,
                timePicker: false,
                showDropdowns: true,
                locale:
                        {
                          format: 'MM/DD/YYYY'
                        }
              });
      $('.time-input').timepicker(
              {
                'scrollDefault': 'now',
                'zindex': '9999' /* fix modal open */
              });
      /** date range picker */
      if ($('.datetimes').length) {
        $('.datetimes').daterangepicker(
                {
                  timePicker: true,
                  startDate: moment().startOf('hour'),
                  endDate: moment().startOf('hour').add(32, 'hour'),
                  locale:
                          {
                            format: 'M/DD hh:mm A'
                          }
                });
      }
      var start = moment().subtract(29, 'days');
      var end = moment();

      function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      }

      $('#reportrange').daterangepicker(
              {
                startDate: start,
                endDate: end,
                ranges:
                        {
                          'Today': [moment(), moment()],
                          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                          'This Month': [moment().startOf('month'), moment().endOf('month')],
                          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                        }
              }, cb);
      cb(start, end);
      $('.input-placeholder').mask("00/00/0000",
              {
                placeholder: "__/__/____"
              });
      $('.input-zip').mask('00000-000',
              {
                placeholder: "____-___"
              });
      $('.input-money').mask("#,##0.00",
              {
                reverse: true
              });
      $('.input-phoneus').mask('(000) 000-0000');
      $('.input-mixed').mask('AAA 000-S0S');
      $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
              {
                translation:
                        {
                          'Z':
                                  {
                                    pattern: /[0-9]/,
                                    optional: true
                                  }
                        },
                placeholder: "___.___.___.___"
              });
      // editor
      var editor = document.getElementById('editor');
      if (editor) {
        var toolbarOptions = [
          [
            {
              'font': []
            }],
          [
            {
              'header': [1, 2, 3, 4, 5, 6, false]
            }],
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [
            {
              'header': 1
            },
            {
              'header': 2
            }],
          [
            {
              'list': 'ordered'
            },
            {
              'list': 'bullet'
            }],
          [
            {
              'script': 'sub'
            },
            {
              'script': 'super'
            }],
          [
            {
              'indent': '-1'
            },
            {
              'indent': '+1'
            }], // outdent/indent
          [
            {
              'direction': 'rtl'
            }], // text direction
          [
            {
              'color': []
            },
            {
              'background': []
            }], // dropdown with defaults from theme
          [
            {
              'align': []
            }],
          ['clean'] // remove formatting button
        ];
        var quill = new Quill(editor,
                {
                  modules:
                          {
                            toolbar: toolbarOptions
                          },
                  theme: 'snow'
                });
      }
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

    <script src='js/jquery.dataTables.min.js'></script>
    <script src='js/dataTables.bootstrap4.min.js'></script>

    <script>
      $('#dataTable-1').DataTable(
              {
                autoWidth: true,
                "lengthMenu": [
                  [10, 50, 100, -1],
                  [10, 50, 100, "All"]
                ]
              });
    </script>

    <script src='js/jquery.validate.min.js'></script>
  </body>
</html>